<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Personal website for Boris Terzic with blog posts on programming and technology.">
    {% if norobots %}
    <meta name="robots" content="noindex">
    {% endif %}
    <title>{{title}}</title>    
    <link rel="stylesheet" href="/css/all.css">
  </head>
  <body>
    <header>
      <nav>
        <ol>
          <li><a href="/">Home</a></li>
          <li><a href="/pages/blog-styleguide/">Styleguide</a></li>
          <li><a href="/pages/impressum/">About</a></li>
        </ol>
      </nav>
    </header>
    <main>
      {{ content | safe }}
    </main>
    <footer>
      <!-- dotted diple -->
      ⸓
    </footer>
  </body>
</html>
